.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-100);

  .checkboxes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
