.messagesContainer {
  display: flex;
  height: 45vh;
  flex-direction: column-reverse;
  gap: var(--spacing-050);
  padding: var(--spacing-050);
  overflow: auto;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-100);
  border: 1px solid black;
  border-radius: var(--border-radius-m);
  padding: var(--spacing-100);

  @media (min-width: 720px) {
    max-width: 30rem;
    height: 50rem;
  }
}
