.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-025);

  label {
    display: inline-flex;
    gap: var(--spacing-050);
    font-weight: bold;
  }
}
