.chip {
  border-radius: var(--spacing-100);
  padding: 0.35rem;
  font-weight: bold;
  max-width: fit-content;

  &--m {
    height: fit-content;
    font-size: small;
  }

  &--error {
    background-color: var(--color-chip-error);
  }

  &--error {
    background-color: var(--color-chip-error);
  }

  &--info {
    background-color: var(--color-chip-info);
  }

  &--info-2 {
    background-color: var(--color-chip-info-2);
  }

  &--success {
    background-color: var(--color-chip-success);
  }
}
