.container {
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  border-radius: 0.3rem;
  padding: var(--spacing-100);
  gap: var(--spacing-100);
  justify-content: space-between;

  @media (min-width: 720px) {
    flex-direction: row;
  }
}

.booksInfos {
  display: flex;
  gap: var(--spacing-200);
  align-items: center;
}

.ctaContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-050);
}
