.pageWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-100);

  h1 {
    text-align: center;
  }

  form {
    max-width: 25rem;
  }
}
