.notificationMessage {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-025);
  padding: var(--spacing-100);
  text-decoration: none;
  color: var(--menu-font-color);
  font-weight: var(--font-weight-regular);

  .content {
    text-align: center;
    text-wrap: wrap;
  }

  .date {
    font-size: var(--font-size-xxs);
    align-self: center;
  }
}

.isRead {
  background-color: var(--light-grey-bg);
}

.isNotRead {
  color: var(--menu-font-color);
  font-weight: var(--font-weight-bold);

  &:hover {
    background-color: var(--brand-color-extra-light);
    color: black;
  }
}

.notificationMessage + .notificationMessage {
  border-top: solid 1px black;
}
