.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-100);

  @media (min-width: 1024px) {
    flex-direction: row;
    max-width: 1620px;
    margin: auto;
    gap: 15rem;
  }
}

.booksContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
  max-width: 1024px;
}
